In [11]:
import pandas as pd
from sklearn import linear_model

In [8]:
df0 = pd.read_csv('EPLCSV.csv', sep='\t')
df0.to_csv('EPLdata.csv', sep=',', index=False)
df = pd.read_csv('EPLdata.csv')
df

,HomeTeam,AwayTeam,FTH Goals,FTA Goals,FT Result
0,Ipswich Town,Brighton & Hove Albion,0,2,A
1,Man United,Southampton,3,1,H
2,Everton,Aston Villa,0,1,A
3,Leicester,Crystal Palace,0,2,A
4,Newcastle,Wolves,3,0,H
...,...,...,...,...,...
12148,Southampton,Everton,0,2,A
12149,Sheffield United,Swindon,3,1,H
12150,Liverpool,Sheffield Weds,2,0,H
12151,Aston Villa,QPR,4,1,H
12152,Oldham,Ipswich,0,3,A

In [15]:
df.HomeTeam = df.HomeTeam.fillna('NA')
df.AwayTeam	 = df.AwayTeam	.fillna('NA')
df['FTH Goals'] = df['FTH Goals'].fillna(0)
df['FTA Goals'] = df['FTA Goals'].fillna(0)
df['FT Result'] = df['FT Result'].fillna('D')
df['Home_Team_Encoded'] = pd.factorize(df['HomeTeam'])[0]
df['Away_Team_Encoded'] = pd.factorize(df['AwayTeam'])[0]
df['FT_Result_Encoded'] = pd.factorize(df['FT Result'])[0]
df

,HomeTeam,AwayTeam,FTH Goals,FTA Goals,FT Result,Home_Team_Encoded,Away_Team_Encoded,FT_Result_Encoded
0,Ipswich Town,Brighton & Hove Albion,0,2,A,0,0,0
1,Man United,Southampton,3,1,H,1,1,1
2,Everton,Aston Villa,0,1,A,2,2,0
3,Leicester,Crystal Palace,0,2,A,3,3,0
4,Newcastle,Wolves,3,0,H,4,4,1
...,...,...,...,...,...,...,...,...
12148,Southampton,Everton,0,2,A,18,15,0
12149,Sheffield United,Swindon,3,1,H,22,52,1
12150,Liverpool,Sheffield Weds,2,0,H,12,49,1
12151,Aston Villa,QPR,4,1,H,14,36,1
12152,Oldham,Ipswich,0,3,A,52,11,0

In [32]:
reg = linear_model.LinearRegression()
X = df[['Home_Team_Encoded','Away_Team_Encoded']]
Y = df[['FTH Goals','FTA Goals']]
reg.fit(X,Y)

LinearRegression()

In [23]:
Home_Teams = df[['HomeTeam', 'Home_Team_Encoded']].drop_duplicates().reset_index(drop=True)
print("Home teams")
Home_Teams

Home teams

                  HomeTeam  Home_Team_Encoded
0             Ipswich Town                  0
1               Man United                  1
2                  Everton                  2
3                Leicester                  3
4                Newcastle                  4
5                  Arsenal                  5
6                Brentford                  6
7                  Chelsea                  7
8                 West Ham                  8
9            Nott'm Forest                  9
10                  Wolves                 10
11                  Fulham                 11
12               Liverpool                 12
13               Tottenham                 13
14             Aston Villa                 14
15             Bournemouth                 15
16          Crystal Palace                 16
17                Man City                 17
18             Southampton                 18
19                Brighton                 19
20                 Ipswich                 20
21  Brighton & Hove Albion                 21
22        Sheffield United                 22
23                 Burnley                 23
24                   Luton                 24
25                   Leeds                 25
26                 Norwich                 26
27                 Watford                 27
28               West Brom                 28
29            Huddersfield                 29
30                 Cardiff                 30
31                 Swansea                 31
32                   Stoke                 32
33                    Hull                 33
34              Sunderland                 34
35           Middlesbrough                 35
36                     QPR                 36
37                   Wigan                 37
38                 Reading                 38
39               Blackburn                 39
40                  Bolton                 40
41              Birmingham                 41
42               Blackpool                 42
43              Portsmouth                 43
44                   Derby                 44
45                Charlton                 45
46                Coventry                 46
47                Bradford                 47
48          Sheffield Weds                 48
49               Wimbledon                 49
50                Barnsley                 50
51                 Swindon                 51
52                  Oldham                 52

In [24]:
Away_Teams = df[['AwayTeam', 'Away_Team_Encoded']].drop_duplicates().reset_index(drop=True)
print("Away teams")
Away_Teams

Away teams

                  AwayTeam  Away_Team_Encoded
0   Brighton & Hove Albion                  0
1              Southampton                  1
2              Aston Villa                  2
3           Crystal Palace                  3
4                   Wolves                  4
5                Tottenham                  5
6                 Man City                  6
7              Bournemouth                  7
8                   Fulham                  8
9                Liverpool                  9
10           Nott'm Forest                 10
11                 Ipswich                 11
12              Man United                 12
13               Newcastle                 13
14               Leicester                 14
15                 Everton                 15
16                 Chelsea                 16
17                West Ham                 17
18               Brentford                 18
19                 Arsenal                 19
20                Brighton                 20
21            Ipswich Town                 21
22                   Luton                 22
23                 Burnley                 23
24        Sheffield United                 24
25                   Leeds                 25
26                 Watford                 26
27                 Norwich                 27
28               West Brom                 28
29                 Cardiff                 29
30            Huddersfield                 30
31                   Stoke                 31
32                 Swansea                 32
33              Sunderland                 33
34           Middlesbrough                 34
35                    Hull                 35
36                     QPR                 36
37                 Reading                 37
38                   Wigan                 38
39                  Bolton                 39
40               Blackburn                 40
41               Blackpool                 41
42              Birmingham                 42
43              Portsmouth                 43
44                   Derby                 44
45                Charlton                 45
46                Bradford                 46
47                Coventry                 47
48               Wimbledon                 48
49          Sheffield Weds                 49
50                Barnsley                 50
51                  Oldham                 51
52                 Swindon                 52

In [34]:
X_hat = pd.DataFrame([[15,10]], columns=['Home_Team_Encoded','Away_Team_Encoded'])
Y_hat = reg.predict(X_hat)
print(Y_hat)

[[1.50465647 1.22042511]]